.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
dleyna-renderer-service.conf
gnome-initial-setup-done
mimeapps.list
monitors.xml*
user-dirs.dirs
user-dirs.locale
xdg-terminals.list

BraveSoftware/
Code/
dconf/
evolution
gnome-control-center/
ibus/
neofetch/
pulse/


